*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}
body{
    background: #FFF;
}
.container{
    width: 100%;
    max-width: 1250px;
    padding: 0px 40px 0px 55px;
    margin: 0 auto;
}
.navbar{
    height: 38px;
    background: #313131;
    display: flex;
    align-items: center;
    padding: 0px 65px;
    justify-content: center;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-logo-title{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navbar-logo{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 638px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 11px;
}
.navbar-content{
    display: flex;
align-items: center;
justify-content: space-between;
}
.navbar-menu-text{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;

}
.navbar-menu1{
    display: flex;
    align-items: center;
    gap: 11px;
}
.Поиск{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Поиск-content{
    display: flex;
    gap: 37px;
    align-items: center;
}
.Поиск-img{
    padding: 12px 0px;
    margin-right: 1.04px;
    cursor: pointer;
}
.Поиск-box{
    width: 839px;
height: 50px;
border: 1px solid #E6E6E6;
padding: 17px 15px;
display: flex;
gap: 15px;
}
.Поиск-input{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
background: none;
outline: none;
}
.Поиск-img1{
    cursor: pointer;
}
.menu{
    height: 70px;
    margin-bottom: 30px;
}
.menu-content{
    height: 70px;
    background: #FFF;
/* menu-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
display: flex;
gap: 50px;
padding: 24px 40px;
}
.menu-content-box{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.menu-texts{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu-texts:nth-child(7){
    color: #D74444;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 0.4px;
cursor: pointer;
}
.menu-img{
    width: 3.273px;
height: 16px;
margin: 3px 0px;
cursor: pointer;
}
.loft{
    height: 450px;
    margin-bottom: 30px;
}
.loft-background{
    background-image: url(../img/chair.png);
    height: 455px;
    width: 1180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -13px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
}
.loft-stroke{
    width: 30px;
height: 30px;
background: rgba(157, 157, 157, 0.28);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin-right: 65px;
}
.loft-texts{
    width: 280px;
    height: 207px;
    margin-right: 724px;
}
.loft-title{
    color: #3C3C3C;
font-family: Playfair Display;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 105.3%; /* 52.65px */
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 15px;
}
.loft-text{
    color: #343434;
    font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140.8%; /* 22.528px */
letter-spacing: 0.32px;
margin-bottom: 20px;
}
.loft-btn{
    color: var(--text-color, #414141);
    font-family: 'Roboto Condensed', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 140.8%; /* 16.896px */
letter-spacing: 0.48px;
padding: 14px 25px;
background: #FFF;
/* menu-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
border: none;
outline: none;
cursor: pointer;
}
.loft-img{
    cursor: pointer;
}
.товар{
    height: 1654px;
    margin-bottom: 60px;
}
.товар-title{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.товар-content{
    display: flex;
}
.товар-content-box{
    width: 263px;
height: 344px;
position: relative;
padding: 42px 20px 32px 20px;
margin-right: 29px;
margin-top: 67px;
}
.товар-icon{
    position: absolute;
    right: 11px;
    top: -11.5px;
    cursor: pointer;
}
.товар-img{
    margin: 0px 31px 0px 12px;
    margin-bottom: 54px;
}
.товар-content-box-title{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 6px;
}
.товар-content-box-text{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 9px;
}
.товар-content-box-number{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}
.товар-content-box:nth-child(2){
    width: 263px;
height: 488px;
margin-top: 40px;
padding: 67px 20px 20px 20px;
background: #FFF;
box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.11);
margin-right: 30px;
}
.товар-icon2{
    position: absolute;
    right: 11px;
    top: 11.5px;
    cursor: pointer;
}
.товар-content-box-text:nth-child(2){
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 8px;
}
.boss{
    width: 193px;
    height: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 17px;
}
.boss-b{
    width: 40px;
    height: 30px;
}
.boss-b-title{
    color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 8px;
}
.boss-b-text{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.boss-x{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.boss-btn{
    padding: 12px 49px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 0;
background: var(--main-color, #245462);
cursor: pointer;
}
.товар-content-box:nth-child(3){
    width: 263px;
height: 355px;
position: relative;
padding: 53px 20px 32px 20px;
margin-right: 29px;
margin-top: 57px;
}
.товар-icon3{
    position: absolute;
    right: 11px;
    top: 0px;
    cursor: pointer;
}
.book{
    display: flex;
    width: 50px;
    height: 17px;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 18px;
    gap: 7px;
}
.foiz{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-box{
    display: flex;
    gap: 6px;
    height: 20px;
    align-items: center;
}
.товар-content-box-number1{
    color: #CCC;
    font-family: 'Roboto', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: line-through;
}
.товар-content-box-number2{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.товар-content2{
    display: flex;
    height: 344px;

    margin-top: -53px;
}
.товар-content-box4{
    width: 263px;
height: 344px;
position: relative;
padding: 53px 20px 32px 20px;
margin-right: 29px;
}
.товар-content-box4:nth-child(2){
  z-index: -1;
}
.товар-content3{
    height: 344px;
    margin-top: 64px;
    display: flex;
}
.end{
    height: 234px;
    background: #FFF;
box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.03);
}
.end-content{
    display: flex;
    gap: 277px;
}
.end-content-box{
    width: 384px;
    height: 148px;
    margin-top: 54px;
}
.end-content-box-title{
    color: #000;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 126.688%; /* 17.736px */
margin-bottom: 10px;
}
.end-content-boss{
    display: flex;
    gap: 50px;
    margin-bottom: 34px;
}
.end-boss{
    width: 72px;
    height: 68px;
}
.end-boss-text{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 126.688%; /* 17.736px */
margin-bottom: 7px;
cursor: pointer;
}

.end-boss1{
    width: 111px;
    height: 68px;
}
.end-boss2{
    width: 101px;
    height: 68px;
}
.hero{
    display: flex;
    gap: 30px;
}
.hero-text{
    color: #D74444;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
cursor: pointer;
line-height: 126.688%; /* 17.736px */
}
.hero-text:nth-child(2){
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 126.688%; /* 17.736px */
cursor: pointer;
}
.end-LM{
    width: 501px;
    height: 153px;
    margin-top: 49px;
}
.end-LM-logo{
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
font-size: 42px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 20px;
}
.end-LM-text{
    color: var(--text-color, #414141);
text-align: right;
font-family: 'Roboto', sans-serif;
padding-left: 300px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 126.688%; /* 17.736px */
padding-bottom: 29px;
}
.end-LM-box{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 501px;
    height: 18px;
}
.end-LM-boss{
    display: flex;
    gap: 10px;
}
.end-LM-boss-text{
    color: var(--text-color, #414141);
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 126.688%; /* 17.736px */
}
